<h2 mat-dialog-title>Insert your API token</h2>
<mat-divider></mat-divider>
<form #registrationForm = "ngForm" style="margin-top: 0.5vw; margin-left: 1vw; margin-right: 1vw; margin-bottom: 0.5vw;">
    <div class="col-md-12 mb-4 pb-2">
        <mat-form-field class="example-full-width" appearance="outline" style="width: 30vw;">  
            <textarea matInput style="height: 10vw;" name="apiToken" [(ngModel)]="apiToken" placeholder="Enter API token"></textarea>
        </mat-form-field>
    </div>

    <div class="mt-4 pt-2">
        <input class="btn btn-success btn-lg center-div" style="color:white" type="button" (click)="saveApiToken()" value="Submit" />
        <input class="btn btn-lg center-div" (click)="onNoClick()" type="button" value="Cancel" />
    </div>
</form>