
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>WorkWise Html Template</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="" />
<meta name="keywords" content="" />
</head>

<body class="sign-in">
	<div class="wrapper">
		<div class="sign-in-page">
			<div class="signin-popup">
				<div class="signin-pop">
					<div class="row">
						<div class="col-lg-6">
							<div class="cmp-info">
								<div style="display: flex; margin: auto; justify-content: center;">
									<a routerLink="" style="border-style: none; background-color: white; color: #e44d3a; font-size: xx-large; font-weight: bold; height: 5vw; font-style: italic;
									display: inline; justify-content: center; margin: auto;">Agent application </a> <br> 
								</div>
								<div class="cm-logo">
									<p> is a global freelancing platform and social networking where businesses and independent professionals connect and collaborate remotely</p>
								</div><!--cm-logo end-->	
							</div><!--cmp-info end-->
						</div>
						<div class="col-lg-6">
							<div class="login-sec">
								<ul class="sign-control">
									<li data-tab="tab-1" [ngClass]="{'current' : isLogin}"><a routerLink="" title="" (click)="isPassless = false; isLogin = true; isSignup = false">Sign in</a></li>		
									<li data-tab="2" [ngClass]="{'current' : isPassless}"><a routerLink="javascript:void(0);" title="" (click)="isPassless = true; isLogin = false; isSignup = false">Sign in with email</a></li>		
									<li data-tab="3" [ngClass]="{'current' : isSignup}"><a routerLink="javascript:void(1);" title="" (click)="isPassless = false; isLogin = false; isSignup = true">Sign up</a></li>				
								</ul>			
								
								<div *ngIf="isLogin"  class="sign_in_sec current" id="tab-1">	 
									<div *ngIf="showCodeRequest">
										<div class="form-group">
											<label for="code">Enter the 6-digit code from your authenticator app</label> 
											<input type="text" class="form-control" name="code" id="code" [(ngModel)]="codeForLogin"  
											required minlength="6" maxlength="6" pattern="^[0-9]{1,6}$"  />
											<br><br>
											<div class="alert alert-danger" role="alert" *ngIf="submitted6digit && !checkCode()">
												Code must be 6 characters long and contains only digits
											</div>
										</div>
										<div class="form-group">
											<button class="btn btn-primary btn-block" (click)="onSubmit6Digit()">Sign in</button>
										</div>  
									</div>
									<h3 *ngIf="!showCodeRequest">Sign in</h3>
									<form [formGroup]="form" *ngIf="!showCodeRequest">
										<div class="row">
											<div class="col-lg-12 no-pdd">
												<div class="form-group">
													<div class="sn-field">
														<input [(ngModel)]="username" type="text" name="username" placeholder="Username" autocomplete="off"
														formControlName="username"
														class="form-control"
														[ngClass]="{ 'is-invalid': submitted1 && f['username'].hasError('required') }">
														<!-- <i class="la la-user"></i> -->
														<mat-error *ngIf="submitted1 && f['username'].hasError('required')">
															This field is <strong>required</strong>
														</mat-error>
													</div>
												</div><!--sn-field end-->	
											</div>
											<div class="col-lg-12 no-pdd" style="margin-top: 20px;">
												<div class="form-group">
													<div class="sn-field">
														<input [(ngModel)]="password" type="password" name="password" placeholder="Password" autocomplete="off"
														formControlName="password"
														class="form-control"
														[ngClass]="{ 'is-invalid': submitted1 && f['password'].hasError('required') }"
														>
														<!-- <i class="la la-lock"></i> --> 
														<mat-error *ngIf="submitted1 && f['password'].hasError('required')">
															This field is <strong>required</strong>
														</mat-error>
														<mat-error *ngIf="submitted1 && f['password'].hasError('minLength')">
															Password must contain at least 8 characters<strong></strong>
														</mat-error>
													</div>
												</div>
											</div>
											<!-- <div>
												<label style="color: red; font-size: 12px;">{{messageLogin}}</label>
											</div> -->
											<div class="col-lg-12 no-pdd" style="margin-top: 10px;">
												<div class="checky-sec">
													<!-- <div class="fgt-sec">
														<input type="checkbox" name="cc" id="c1">
														<label for="c1">
															<span></span>
														</label>
														<small>Remember me</small>
													</div>fgt-sec end -->
													<a routerLink="/account-recovery" title="">Forgot Password?</a>
												</div>
											</div>
											<div class="col-lg-12 no-pdd">
												<button type="submit" value="submit" (click)="login()">Sign in</button>
											</div>
										</div>
									</form>
								</div><!--sign_in_sec end-->

								<!--Passwordless login-->
								<div *ngIf="isPassless"  class="sign_in_sec current" id="tab-2">	
									<h3 *ngIf="!isSubmitted">Sign in with email</h3>
									<form *ngIf="!isSubmitted" [formGroup]="passwordlessForm">
										<div  class="row">
											<div class="col-lg-12 no-pdd">
												<div  class="sn-field">
													<input [(ngModel)]="email" (focus)="onEmailChange()" type="email" name="email" placeholder="Email" autocomplete="off"
													formControlName="email"
														class="form-control"
														[ngClass]="{ 'is-invalid': submitted2 && ff['email'].hasError('required') }"
													>
													<!-- <i class="la la-user"></i> -->
												</div><!--sn-field end-->
												<mat-error *ngIf="submitted2 && ff['email'].hasError('required')">
													This field is <strong>required</strong>
												</mat-error>
												<mat-error *ngIf="submitted2 && ff['email'].hasError('email')">
													This email is <strong>incorrect</strong>
												</mat-error>
												<div>
													<label style="color: red; font-size: 12px;">{{message}}</label>
												</div>
											</div>
											 
											<div class="col-lg-12 no-pdd">
												<button type="submit" value="submit" (click)="passwordlessLogin()">Sign in</button>
											</div>
										</div>
									</form>

									<h3 *ngIf="isSubmitted"> Email Sent Successfully! Check your email to sign in.</h3>

								</div>
								
								<div *ngIf="isSignup" class="sign_in_sec current" id="tab-3">
									<h3 *ngIf="!finishedSignup">Sign up</h3>

									<div *ngIf="finishedSignup"> 
										<p style="font-weight: bold; text-align: center;">Verification email sent to {{user.email}}</p><br><br>

										<div *ngIf="qrCode !== '' && qrCode !== undefined " >
											<p style="text-align:center; font-weight: bold;">
												Your registration is successful! Scan this QR code using Google Authenticator app on your phone 
												to use it later for login.</p>
											<img class="col-md-12" src="{{qrCode}}" />  
										</div>
									</div>

									<form [formGroup]="sform" *ngIf="!finishedSignup">
										<div class="row">
											<div class="col-lg-12 no-pdd">
												<div class="sn-field" style="margin-top: 10px;">
													<input [(ngModel)]="user.firstName" type="text" name="firstName" placeholder="First name*"
													formControlName="firstName"
														class="form-control"
														[ngClass]="{ 'is-invalid': submitted3 && fs['firstName'].hasError('required') }">
													<!-- <i class="la la-user"></i> -->
												</div>
												<mat-error *ngIf="submitted3 && fs['firstName'].hasError('required')">
													First name is <strong>required</strong>
												</mat-error>
											</div>
											<div class="col-lg-12 no-pdd">
												<div class="sn-field" style="margin-top: 10px;">
													<input type="text"  [(ngModel)]="user.lastName" name="lastName" placeholder="Last name*"
														formControlName="lastName"
														class="form-control"
														[ngClass]="{ 'is-invalid': submitted3 && fs['lastName'].hasError('required') }">
													<!-- <i class="la la-user"></i> -->
												</div>
												<mat-error *ngIf="submitted3 && fs['lastName'].hasError('required')">
													Last name is <strong>required</strong>
												</mat-error>
											</div>

											<div class="col-lg-12 no-pdd">
												<div class="sn-field" style="margin-top: 10px;">
													<input type="text"  [(ngModel)]="user.email" name="email" placeholder="Email*"
														formControlName="email"
														class="form-control"
														[ngClass]="{ 'is-invalid': submitted3 && fs['email'].hasError('required') }">
													<!-- <i class="la la-globe"></i> -->
												</div>
												<mat-error *ngIf="submitted3 && fs['email'].hasError('required')">
													Email is <strong>required</strong>
												</mat-error>
												<mat-error *ngIf="submitted3 && fs['email'].hasError('email')">
													This email is <strong>incorrect</strong>
												</mat-error>
											</div>

											<div class="col-lg-12 no-pdd">
												<div class="sn-field" style="margin-top: 10px;">
													<input type="text"  [(ngModel)]="user.username" name="userName" placeholder="Username*"
														formControlName="username"
														class="form-control"
														[ngClass]="{ 'is-invalid': submitted3 && fs['username'].hasError('required') }">
													<!-- <i class="la la-user"></i> -->
												</div>
												<mat-error *ngIf="submitted3 && fs['username'].hasError('required')">
													Username is <strong>required</strong>
												</mat-error>
											</div>

											<div class="col-lg-12 no-pdd">
												<div class="sn-field" style="margin-top: 10px;">
													<input type="password" [(ngModel)]="user.password" name="password" placeholder="Password*" autocomplete="off"
													formControlName="password"
													class="form-control"
													[ngClass]="{ 'is-invalid': submitted3 && fs['password'].hasError('required') }">
													<!-- <i class="la la-lock"></i> -->
												</div>
												<mat-error *ngIf="submitted3 && fs['password'].hasError('required')">
													Password is <strong>required</strong>
												</mat-error>
											</div>
											<div class="col-lg-12 no-pdd">
													<div>
												<label style="color: red; font-size: 12px;">{{messageSignUp}}</label>
											</div>
											</div>
											<div class="col-lg-12 no-pdd">
												<div class="checky-sec">
													<div class="fgt-sec">
														<input type="checkbox" name="cc" id="c1"
														(change)="user.using2FA = !user.using2FA">
														<label for="c1">
															<span></span>
														</label>
														<small>Use two step verification</small>
													</div><!--fgt-sec end--> 
												</div>
											</div>
											<div class="col-lg-12 no-pdd">
												<button type="submit" value="submit" (click)="signUp()">Sign up</button>
											</div>
										</div>
									</form>
								</div>


							</div><!--login-sec end-->
						</div>
					</div>		
				</div><!--signin-pop end-->
			</div><!--signin-popup end-->
			<div class="footy-sec">

			</div><!--footy-sec end-->
		</div><!--sign-in-page end-->


	</div><!--theme-layout end-->
</body>
</html>