<h1 mat-dialog-title>Leave an impression from the interview</h1>
<!-- <div mat-dialog-content>
  <mat-form-field appearance="fill" style="margin-left: 25px; justify-content: center; background-color: none; width: 400px; ">
    <mat-label>Comment title</mat-label>
    <input matInput [(ngModel)]="data.title" name="title" style="margin: auto; background-color: none; width: 400px;">
  </mat-form-field><br>
  <mat-form-field appearance="fill" style="margin: auto; margin-left: 25px; justify-content: center; background-color: none; width: 400px; ">
    <mat-label>Content</mat-label>
    <textarea matInput [(ngModel)]="data.content" name="content" style="margin: auto; background-color: none; width: 400px; height: 180px;"></textarea>
  </mat-form-field><br>
  <div class="col-sm-12"  style="margin: auto; justify-content: center; display: flex;">
    <ul class="list-inline rating-list" 
        *ngFor="let star of stars" style="display: inline-block" >
          <li (click)="countStar(star)"
              [ngClass]="{'selected': star <= selectedValue }"> 
            <i class="fa fa-star" style="font-size: 25px;"></i>
          </li> 
    </ul>
</div> -->
<!-- </div> -->
<div mat-dialog-actions style="float: right;">
  <button mat-button (click)="onNoClick()">Close</button>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Save</button>
</div>
