<h1 mat-dialog-title>Leave salary information</h1>
 <div mat-dialog-content>
  <mat-form-field appearance="fill" style="margin-left: 25px; justify-content: center; background-color: none; width: 400px; ">
      <mat-label>Position</mat-label>
      <mat-select [(ngModel)]="data.position" name="food">
        <mat-option *ngFor="let food of data.positions" [value]="food">
          {{food}}
        </mat-option>
      </mat-select>
  </mat-form-field><br>

  <mat-form-field appearance="fill" style="margin: auto; margin-left: 25px; justify-content: center; background-color: none; width: 400px; ">
    <mat-label>Pay (in $)</mat-label>
        <input matInput [(ngModel)]="data.pay" name="pay" type="number" style="margin: auto; background-color: none; width: 400px;">
    <!-- <textarea matInput [(ngModel)]="data.pay" name="content" style="margin: auto; background-color: none; width: 400px; height: 180px;"></textarea> -->
  </mat-form-field><br>

  <mat-form-field appearance="fill" style="margin: auto; margin-left: 25px; justify-content: center; background-color: none; width: 400px; ">
    <mat-label>Employee</mat-label>
    <input matInput hidden name="pay" type="number" style="margin: auto; background-color: none; width: 400px;">
    <mat-button-toggle-group style="margin: auto; display: flex; justify-content: center; margin-top: 20px; border: none;" name="fontStyle" aria-label="Font Style" [(ngModel)]="data.isFormerEmployee">
      <mat-button-toggle value="false">Current</mat-button-toggle>
      <mat-button-toggle value="true">Former</mat-button-toggle>
    </mat-button-toggle-group>
  </mat-form-field><br>
  
  <mat-form-field appearance="fill" style="margin: auto; margin-left: 25px; justify-content: center; background-color: none; width: 400px; ">
    <mat-label>Do you have extra bonuses?</mat-label>
    <input matInput hidden name="pay" type="number" style="margin: auto; background-color: none; width: 400px;">
    <mat-button-toggle-group style="margin: auto; display: flex; justify-content: center; margin-top: 20px; border: none;" name="fontStyle" aria-label="Font Style" [(ngModel)]="data.bonus">
      <mat-button-toggle value="true">Yes</mat-button-toggle>
      <mat-button-toggle value="false">No</mat-button-toggle>
    </mat-button-toggle-group>
  </mat-form-field><br>

  <mat-form-field appearance="fill" style="margin: auto; margin-left: 25px; justify-content: center; background-color: none; width: 400px; ">
    <mat-label>Do you think the salary is fair?</mat-label>
    <input matInput hidden name="pay" type="number" style="margin: auto; background-color: none; width: 400px;">
    <mat-button-toggle-group style="margin: auto; display: flex; justify-content: center; margin-top: 20px; border: none;" name="fontStyle" aria-label="Font Style" [(ngModel)]="data.fairPay">
      <mat-button-toggle value="true">Yes</mat-button-toggle>
      <mat-button-toggle value="false">No</mat-button-toggle>
    </mat-button-toggle-group>
  </mat-form-field><br>

  <!-- <div class="col-sm-12"  style="margin: auto; justify-content: center; display: flex;">
    <ul class="list-inline rating-list" 
        *ngFor="let star of stars" style="display: inline-block" >
          <li (click)="countStar(star)"
              [ngClass]="{'selected': star <= selectedValue }"> 
            <i class="fa fa-star" style="font-size: 25px;"></i>
          </li> 
    </ul>
  </div>  -->
</div>
<div mat-dialog-actions style="float: right;">
  <button mat-button (click)="onNoClick()">Close</button>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Save</button>
</div>
